

BButton:focus {
  outline: none !important;
}




@media (max-width: 600px) {
  
  .IconButton {
    margin: 0 !important;
    padding: 0 !important;
    width: 40px;  
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .cus-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    min-height: 52px;
    padding: 0 !important; 
    color: white;
  }


  .cus-toolbar .left-container {
    flex: 0 0 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.icon{

 margin-top: 5px;
}
  /* Center (title) */
  .cus-toolbar .typo-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    font-weight: 550;
    text-align: center;
    white-space: nowrap;
  }

  /* Right (logout) */
  .cus-toolbar .right-side-icon {
    flex: 0 0 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }





/* =====ADDRESS DATA COMPONENTS======= */

 .custom-flex-box {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .custom-flex-box .age-input {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 8px;
  }

  .custom-flex-box .age-input > * {
    width: 120px;
  }
}




/* mobile M,S  address data component  */
@media (max-width: 425px) {
  .custom-flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
  }

  .custom-flex-box .MuiAutocomplete-root {
    width: 45%;
    min-width: 140px;
  }

  .custom-flex-box .age-input {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .custom-flex-box .age-input > * {
    width: 140px;
  }
}



@media (max-width: 320px) {
  .custom-flex-box {
    gap: 12px;
  }

  .custom-flex-box .MuiAutocomplete-root {
    width: 100%;
    max-width: 200px;
  }

  .custom-flex-box .age-input > * {
    max-width: 200px;
  }
}











@media (max-width: 768px) and (min-width: 601px) {
  .cus-toolbar .typo-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    font-weight: 550;
    text-align: center;
    white-space: nowrap;
  }
.tab-conatiner{
  display: none  !important;
}
}


