

/* btn hover  */


.add-user-btn {
  color: #fff;
  border: none;
  transition: all 0.3s ease-in-out;
}

.add-user-btn:hover {
  background-color: #000000;        
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}
